ul {
    list-style-type: none;
    overflow: hidden;
    display: inline;
    }
    nav li {
        float: left;
    }
    a {
        display: block;
        padding: 8px;
        color: black;
    }