

body {
    background-color: #202019;
    height: 50em;
    position: relative 
}

header {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

    h1 {
        font-size: 80px;
        color: #cad0ce;
        resize: both;
    }

   ul {
   list-style-type: none;
   overflow: hidden;
   
   }

   li {
    display: inline;
   }

   a {
    color: #3d4f2f;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    resize: both;
   }

   a:link {
    text-decoration: none;
   }

   a:visited {
    text-decoration: none;
    color: #704b35;
   }

   a:hover {
    text-decoration: none;
    color: #9e8f74;
   }

   a:active {
    text-decoration: none;
   }

   li a {
    padding: 30px;
    
   }
   