

body {
    background-color: #fafaf6;
    height: 50em;
    position: relative }
header {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

    h1 {
        font-size: 80px;
        color: #ffd7d1;
    }

   ul {
   list-style-type: none;
   overflow: hidden;
   
   }

   li {
    display: inline;
   }

   a {
    color: #d3efb5;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
   }

   a:link {
    text-decoration: none;
   }

   a:visited {
    text-decoration: none;
    color: #ccabd8;
   }

   a:hover {
    text-decoration: none;
   }

   a:active {
    text-decoration: none;
   }

   li a {
    padding: 30px;
    
   }
   